* {
	box-sizing: border-box;	
}

#selectSpace {
	margin-bottom: 10px
}

.space-title_wrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 10px;
	row-gap: 3px;
}

.space-row_wrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 10px;
	row-gap: 3px;
}

.space-title_wrapper > * {
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px;
	text-align: center;
	margin-bottom: 5px;
}

.space-row_wrapper > * {
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px;
	text-align: center;
}

.title {
	background-color: black;
	color: white;
	font-weight: bolder;
}